:root {
  --light-gray: #f2f2f2;
  --gold: #f2cb05;
  --gray: #f2f2f2;
}

header {
  border-bottom: 2px solid black;
  background-color: #d1d1d1;
}

.nav-item:hover {
  background-color: transparent;
}

.main-photo {
  height: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  width: 100%;
}

.title-bar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 70px;
  background-color: var(--gold);
}

.back-btn {
  border: 2px solid black;
  font-size: 18px;
  padding: 10px;
  margin-left: 30px;
  cursor: pointer;
}

.back-btn:hover {
  color: gray;
  border: 2px solid gray;
}

.offer-title {
  margin-left: 20px;
  position: relative;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}

.properties {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  width: 80%;
  border-right: 5px solid var(--gold);
  border-bottom: 5px solid var(--gold);
  margin-left: 10%;
  padding-bottom: 20px;
}

.props-list {
  list-style-type: none;
}

.prop-item {
  padding: 5px;
}

.price-container > p {
  color: gray;
}

.price-container > h3 {
  padding-top: 20px;
}

.description {
  width: 80%;
  margin-left: 10%;
  padding-top: 40px;
  border-left: 5px solid var(--gold);
  border-bottom: 5px solid var(--gold);
}

.offer-heading,
.offer-description {
  padding: 15px;
}

.insertion-date {
  margin: 30px;
  text-align: center;
}

.photos {
  width: 80%;
  border-right: 5px solid var(--gold);
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.photos-container {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 50%;
}

.photo > img {
  max-width: 90%;
}

footer {
  background-color: var(--gold);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  padding-bottom: 15px;
}

footer > div > p {
  margin-left: 30px;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.gallery > div {
  width: 90%;
  height: 90%;
  position: relative;
  left: 5%;
  top: 5%;
}

#photo-preview {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
}

#btn-close {
  font-size: 48px;
  position: fixed;
  top: 15px;
  right: 15px;
}

#btn-prev {
  font-size: 48px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

#btn-next {
  font-size: 48px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

#btn-close:hover,
#btn-prev:hover,
#btn-next:hover {
  color: #444;
}

@media (max-width: 450px) {
  .properties {
    margin-left: 0;
    padding-left: 15px;
    flex-direction: column;
    width: auto;
  }

  .description {
    margin-left: 0;
    width: auto;
  }

  .photos {
    width: auto;
    margin-left: 0;
  }

  .photos-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .photo {
    width: 80%;
    justify-content: center;
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
