:root {
  --light-gray: #f2f2f2;
  --gold: #f2cb05;
  /* --gray: #bbb; */
  --gray: #f2f2f2;
}

header {
  border-bottom: 2px black solid;
  background-color: #d1d1d1;
}

.nav-item:hover {
  background-color: transparent;
}

.search-bar {
  margin-top: 0;
  padding-top: 0;
}

.search-form {
  margin-top: 0;
}

#pricemin,
#pricemax,
#metersmin,
#metersmax {
  width: 22%;
}

.results-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.results-header {
  margin-left: 10%;
}

.offer-container {
  display: flex;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.right {
  flex-direction: row-reverse;
  justify-content: flex-start;
  border-top: 5px solid var(--gold);
  border-left: 5px solid var(--gold);
  border-bottom: 5px solid var(--gold);
}

.left {
  flex-direction: row;
  border-right: 5px solid var(--gold);
  border-bottom: 5px solid var(--gold);
  border-top: 5px solid var(--gold);
}

.offer-img {
  height: 150px;
}

.description-container {
  display: flex;
  justify-content: space-around;
}

.offer-title,
.offer-location {
  position: relative;
  left: 20px;
}

.offer-description {
  width: 100%;
}

.description {
  list-style-type: none;
  margin-top: 10px;
}

footer {
  background-color: var(--gold);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  padding-bottom: 15px;
}

footer > div > p {
  margin-left: 30px;
}

@media (max-width: 450px) {
  #pricemin,
  #pricemax,
  #metersmin,
  #metersmax {
    width: 45%;
    margin-bottom: 15px;
  }

  .input-fields {
    margin-top: 5px;
  }

  .results-header {
    margin-left: 10px;
    padding-bottom: 10px;
  }

  .offer-container {
    padding-top: 0;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .left,
  .right {
    flex-direction: column;
    width: 95%;
  }

  .offer-img {
    width: 100%;
    height: auto;
  }

  .offer-description {
    width: 100%;
  }

  .offer-title {
    left: 5px;
    font-size: 22px;
    margin-top: 5px;
  }
}
